{% extends 'blog/base.html' %}

{% block css %}
{% comment %} @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); {% endcomment %}

.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img { 
width: 170px;
height: 200px;
}

body .carousel-indicator li {
background-color: blue;
}

body .carousel-indicators {
bottom: -40px;
}

.carousel-indicators li {


background-color: #7270fc;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: black;
}

.carousel-control-prev{
    padding-left:0 ;
    margin-left:0;
}

.carousel-control-prev,
.carousel-control-next {
top: auto;
bottom: auto;
padding-top: 155px;
}

body .no-padding {
padding-left: 0,
padding-right: 0;
}

{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid px-0">
    <div class="container-fluid px-0 mx-0">
        {% comment %} <img src="{% static 'blog/intro.jpeg'%}" class="mx-0 my-0" alt="Intro-Image"> {% endcomment %}
        <div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),url({%static 'blog/introImg.jpg'%}); border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; margin-bottom: 0px; height:100%">
            <div class="container py-0 mb-0">
				<div style="text-align:center;">
                    <h1 class="mb-2" style="color: white; font-size: 80px;"> StudentZone </h1>
                    {% comment %} <hr style="width: 100%;  border: 1px solid white;text-align:center;"/> {% endcomment %}
                    <p  style="color: #FFF; font-size: 20px; padding: 0px 10vh 0px 10vh;">
                        When we are in our school/ college there is always case that we need to buy notes, lab equipments, any sports equipments ,etc. But instead of buying a new ones how about taking all this from our seniors ? So here comes our <b>StudentZone</b> where we are giving a platform for students to sell or buy all the college related things . 
                    </p>
                    <div class="line"></div>
                    <p class="lead px-3">
                        <br>
                    </p>
                </div>
			</div>
  		</div>
    </div>
    <!--Slideshow starts here -->
    {% for product,range,nslides in allPosts %}
    <br><br>
    <h5 class="my-4" style="text-align:center; font-size: 45px; font-family: Arial, Helvetica, sans-serif;"> Recommended Items in {{product.0.category}}</h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active" style="height: 40vh;">
                    {% for i in product %}
                    <div class="col-md-3 align-items-center">
                        <a href="{% url 'post-detail' i.id %}" class="custom-card" style="text-decoration : none;" >
                            <div class="card align-items-center pt-4 shadow-lg" style="width: 18rem; border-radius: 15px; margin-top:2.2vh;">
                                <img src='/media/{{i.prod_img}}' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title" style="font-size: 1.5rem;" id="namepr{{i.id}}">{{i.title|slice:"0:12"}}...</h2>
                                    <h6 class="card-title" style="font-size: 1rem;">Price: <span class="badge badge-pill badge-success" id="pricepr{{i.id}}">{{i.price}}</span></h6>
                                    {% comment %} <span class="">Success</span> {% endcomment %}
                                    <p class="card-text">{{i.content|slice:"0:18"}}...</p>
                                    

                                </div>
                            </div>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev"  href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}